@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins&family=Rubik&family=Righteous&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 95px;
    scroll-snap-stop: always;
}

body:after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url("images/avatar.png") url("images/Krutz_Headshot.png");
}

li, a, button, .logo {
    font-family: "Rubik", "Montserrat", "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1vw;
    color: #e2dec4;
    text-decoration: none;
    background: rgba(0,0,0,0);

}

h3, p {
    font-family: "Poppins", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}

.logo {
    font-size: 2vw;
}

#menu {
    list-style: none;
}

    #menu li {
        display: inline-block;
        padding: 0px 20px;
    }

    #menu li a {
        transition: all 0.3s ease 0s;
        cursor: pointer;
    }

#menu li a:hover{
    color: #727931;
}

button {
    padding: 9px 25px;
    background-color: rgba(113, 121, 49, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(113, 121, 49, 0.8);
}

.parallax {
    background-image: url("images/colorado.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

#me {
    background-color: #222018;
    border-radius: 100%;
    top: 0;
    width: 500px;
    height: 500px;
    background-image: url("images/Krutz_Headshot.png");
    background-size: cover;
    transition: all 0.3s steps(10, start) 0s;
    border: 8px solid #E2DEC4;
    margin: 0 auto;
    padding-top: 20px;
}
    #me:hover {
        background-image: url("images/avatar.png");
        background-size: cover;
        transition: all 0.3s steps(10, start) 0s;
    }


#headerbar {
    background-color: #181611;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}
#headerbar #me {
    background: #E2DEC4;
    border-radius: 100%;
    top: 0;
    width: 75px;
    height: 75px;
    background-image: url("images/avatar.png");
    background-size: cover;
    border: 3px solid white;
    margin: 0 0;
    margin-right: 50px;
}

    #logoandpic{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    #me:hover {
        background-image: url("images/avatar.png");
        background-size: cover;
        transition: all 0.3s steps(10, start) 0s;
    }

.parallax {
    display: inline-block;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    color: #E2DEC4;
    text-shadow: 0px 0.2vw #222018;
    text-align: center;
    width: 100%;
}

.parallax h1 {
    font-size: 5vw;
    background: transparent;
    margin-top: 30px;
}

    .parallax p {
        font-size: 2vw;
        width: 60%;
        margin: 0 auto;
        margin-top: 10px;
        background: transparent;
    }

.parallax button {
    font-size: 1.25vw;
    margin-top: 30px;
    scroll-behavior: smooth;
}

    .parallax #me{
        margin-top: 100px;
    }

section {
    height: calc(100vh - 95px);
    scroll-snap-align: center;
    overflow: hidden;
}

    section.parallax{
        height: 100vh;
    }

    #skills {
        background: red;
    }

    section p{
        font-size: 1.1vw;
    }

#about {
    background-color: #222018;
    
}

    #about div {
        padding: 40px;
        width: 60%;
        margin: 0 auto;
        color: #A2B7CB;
    }

#skills {
    background-color: #4A502E;
}

    #skills div {
        padding: 40px;
        width: 60%;
        margin: 0 auto;
        color: #E2DEC4;
    }

#projects {
    background-color: #E2DEC4;
}

    #projects div {
        padding: 40px;
        width: 60%;
        margin: 0 auto;
        color: #4A502E;
    }


#contact {
    background-color: #A76848;
}

    #contact div {
        padding: 40px;
        width: 60%;
        margin: 0 auto;
        color: #181611;
    }
h3 {
    font-size: 3vw;
    padding-bottom: 50px;
}